In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ustudy_uy_bor.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               518 non-null    object
 1   Square              518 non-null    int64
 2   Price               518 non-null    int64
 3   Room                518 non-null    int64
 4   Floor               518 non-null    int64
 5   Building floor      518 non-null    int64
 6   Renovation          518 non-null    object
 7   Material            518 non-null    object
 8   Address             518 non-null    object
 9   Lift                518 non-null    int64
 10  Bathroom            518 non-null    int64
 11  Washing machine     518 non-null    int64
 12  TV                  518 non-null    int64
 13  Microwave oven      518 non-null    int64
 14  Playground          518 non-null    int64
 15  Furniture           518 non-null    int64
 16  Refrigerator        518 non-null    int64
 17  Air conditioner     518 non-null    int64
 18  Wifi                518 non-null    int64
 19  Cable               518 non-null    int64
 20  Security            518 non-null    int64
 21  Video surveillance  518 non-null    int64
 22  Parking space       518 non-null    int64
dtypes: int64(19), object(4)
memory usage: 93.2+ KB

In [4]:
df.head()

,Title,Square,Price,Room,Floor,Building floor,Renovation,Material,Address,Lift,...,Microwave oven,Playground,Furniture,Refrigerator,Air conditioner,Wifi,Cable,Security,Video surveillance,Parking space
0,2-комнатная квартира на продажу,60,61000,2,2,9,Требует ремонта,Панельный,"город Ташкент, Яшнободский район, махаллинский...",1,...,0,0,0,0,0,0,0,0,0,0
1,4-комнатная квартира на продажу,95,80000,4,5,9,Евроремонт,Панельный,"город Ташкент, Сергелийский район, махаллински...",1,...,0,1,1,0,1,1,1,0,0,1
2,1-комнатная квартира на продажу,37,55000,1,8,9,Евроремонт,Другое,"город Ташкент, Яшнободский район, жилой компле...",1,...,0,1,1,1,0,1,1,1,1,1
3,1-комнатная квартира на продажу,37,66000,1,2,5,Евроремонт,Кирпичный,"город Ташкент, Чиланзарский район, квартал Е, ...",0,...,0,0,0,0,0,0,0,0,0,0
4,4-комнатная квартира на продажу,127,206000,4,2,5,Средний,Кирпичный,"город Ташкент, Яшнободский район, махаллинский...",0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def clean_square(value):
  result = str(value)
  result = result.split()[0]
  return int(float(result))

df['Square'] = df['Square'].apply(clean_square)

In [6]:
df['Square'].value_counts()

Square
50     30
60     27
30     17
65     15
70     14
       ..
131     1
800     1
91      1
24      1
146     1
Name: count, Length: 115, dtype: int64

In [7]:
df['Price'].value_counts()

Price
75000     17
85000     16
80000     14
65000     11
105000    11
          ..
84999      1
72500      1
148000     1
109000     1
83500      1
Name: count, Length: 214, dtype: int64

In [8]:
df.head()

,Title,Square,Price,Room,Floor,Building floor,Renovation,Material,Address,Lift,...,Microwave oven,Playground,Furniture,Refrigerator,Air conditioner,Wifi,Cable,Security,Video surveillance,Parking space
0,2-комнатная квартира на продажу,60,61000,2,2,9,Требует ремонта,Панельный,"город Ташкент, Яшнободский район, махаллинский...",1,...,0,0,0,0,0,0,0,0,0,0
1,4-комнатная квартира на продажу,95,80000,4,5,9,Евроремонт,Панельный,"город Ташкент, Сергелийский район, махаллински...",1,...,0,1,1,0,1,1,1,0,0,1
2,1-комнатная квартира на продажу,37,55000,1,8,9,Евроремонт,Другое,"город Ташкент, Яшнободский район, жилой компле...",1,...,0,1,1,1,0,1,1,1,1,1
3,1-комнатная квартира на продажу,37,66000,1,2,5,Евроремонт,Кирпичный,"город Ташкент, Чиланзарский район, квартал Е, ...",0,...,0,0,0,0,0,0,0,0,0,0
4,4-комнатная квартира на продажу,127,206000,4,2,5,Средний,Кирпичный,"город Ташкент, Яшнободский район, махаллинский...",0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
def clean_price(value):
  result = str(value)
  result = result.replace(' ', '')
  result = str(result).split('у')[0]
  return int(float(result))

df['Price'] = df['Price'].apply(clean_price)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               518 non-null    object
 1   Square              518 non-null    int64
 2   Price               518 non-null    int64
 3   Room                518 non-null    int64
 4   Floor               518 non-null    int64
 5   Building floor      518 non-null    int64
 6   Renovation          518 non-null    object
 7   Material            518 non-null    object
 8   Address             518 non-null    object
 9   Lift                518 non-null    int64
 10  Bathroom            518 non-null    int64
 11  Washing machine     518 non-null    int64
 12  TV                  518 non-null    int64
 13  Microwave oven      518 non-null    int64
 14  Playground          518 non-null    int64
 15  Furniture           518 non-null    int64
 16  Refrigerator        518 non-null    int64
 17  Air conditioner     518 non-null    int64
 18  Wifi                518 non-null    int64
 19  Cable               518 non-null    int64
 20  Security            518 non-null    int64
 21  Video surveillance  518 non-null    int64
 22  Parking space       518 non-null    int64
dtypes: int64(19), object(4)
memory usage: 93.2+ KB

In [11]:
df['Price'].value_counts()

Price
75000     17
85000     16
80000     14
65000     11
105000    11
          ..
84999      1
72500      1
148000     1
109000     1
83500      1
Name: count, Length: 214, dtype: int64

In [12]:
df['Room'].value_counts()

Room
2    186
3    139
1     96
4     78
5     17
6      2
Name: count, dtype: int64

In [13]:
import numpy as np

def clean_room(value):
    # Handle NaN
    if pd.isna(value):
        return np.nan

    # Convert to string
    result = str(value).strip()

    # Remove '+' if exists
    if '+' in result:
        result = result.replace('+', '')

    # TRY to convert to number, if it fails return NaN
    try:
        return int(float(result))
    except (ValueError, TypeError):
        return np.nan  # ← This is what was missing!

# Apply
df['Room'] = df['Room'].apply(clean_room)

In [14]:
df['Room'].value_counts()

Room
2    186
3    139
1     96
4     78
5     17
6      2
Name: count, dtype: int64

In [15]:
df['Material'].value_counts()

Material
Кирпичный      259
Панельный      167
Монолитный      44
Другое          30
Блочный         16
No material      2
Name: count, dtype: int64

In [16]:
df['Renovation'].value_counts()

Renovation
Евроремонт          204
Средний             183
Требует ремонта      56
Авторский проект     49
Черновая отделка     25
No renovation         1
Name: count, dtype: int64

In [17]:
df['Address'].value_counts()

Address
город Ташкент, Мирабадский район, махаллинский сход граждан Фуркат, улица Янгизамон             1
город Ташкент, Яшнободский район, махаллинский сход граждан Истиклол                            1
город Ташкент, Сергелийский район, махаллинский сход граждан Эзгулик                            1
город Ташкент, Яшнободский район, жилой комплекс Assalom! Sohil, Фергана Йули                   1
город Ташкент, Чиланзарский район, квартал Е, улица Мукими                                      1
                                                                                               ..
город Ташкент, Чиланзарский район, 1-й квартал, улица Лабихавуз                                 1
город Ташкент, Яккасарайский район, махаллинский сход граждан Шахжахан, улица Шох-Жахон         1
город Ташкент, Мирзо-Улугбекский район, махаллинский сход граждан Шахрисабз, улица Шахрисабз    1
город Ташкент, Юнусабадский район, махаллинский сход граждан Ахмад Дониш                        1
город Ташкент, Мирзо-Улугбекский район, массив Ахмада Югнаки                                    1
Name: count, Length: 518, dtype: int64

In [18]:
df['Lift'].value_counts()

Lift
0    323
1    195
Name: count, dtype: int64

In [19]:
df['Price'].value_counts()

Price
75000     17
85000     16
80000     14
65000     11
105000    11
          ..
84999      1
72500      1
148000     1
109000     1
83500      1
Name: count, Length: 214, dtype: int64

In [20]:
df['Bathroom'].value_counts()

Bathroom
0    397
1    121
Name: count, dtype: int64

In [21]:
df['Washing machine'].value_counts()

Washing machine
0    408
1    110
Name: count, dtype: int64

In [22]:
df['TV'].value_counts()

TV
0    410
1    108
Name: count, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               518 non-null    object
 1   Square              518 non-null    int64
 2   Price               518 non-null    int64
 3   Room                518 non-null    int64
 4   Floor               518 non-null    int64
 5   Building floor      518 non-null    int64
 6   Renovation          518 non-null    object
 7   Material            518 non-null    object
 8   Address             518 non-null    object
 9   Lift                518 non-null    int64
 10  Bathroom            518 non-null    int64
 11  Washing machine     518 non-null    int64
 12  TV                  518 non-null    int64
 13  Microwave oven      518 non-null    int64
 14  Playground          518 non-null    int64
 15  Furniture           518 non-null    int64
 16  Refrigerator        518 non-null    int64
 17  Air conditioner     518 non-null    int64
 18  Wifi                518 non-null    int64
 19  Cable               518 non-null    int64
 20  Security            518 non-null    int64
 21  Video surveillance  518 non-null    int64
 22  Parking space       518 non-null    int64
dtypes: int64(19), object(4)
memory usage: 93.2+ KB

In [24]:
! pip install torch

Requirement already satisfied: torch in c:\users\user\anaconda3\lib\site-packages (2.9.1)
Requirement already satisfied: filelock in c:\users\user\anaconda3\lib\site-packages (from torch) (3.17.0)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\user\anaconda3\lib\site-packages (from torch) (4.12.2)
Requirement already satisfied: sympy>=1.13.3 in c:\users\user\anaconda3\lib\site-packages (from torch) (1.13.3)
Requirement already satisfied: networkx>=2.5.1 in c:\users\user\anaconda3\lib\site-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in c:\users\user\anaconda3\lib\site-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec>=0.8.5 in c:\users\user\anaconda3\lib\site-packages (from torch) (2025.3.2)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from torch) (72.1.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda3\lib\site-packages (from jinja2->torch) (3.0.2)

In [25]:
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error, root_mean_squared_error
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
import joblib

In [26]:
x = df.drop('Price', axis = 1)  # feature
y = df['Price']                 # target

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [28]:
sc = StandardScaler()
oe = OneHotEncoder(handle_unknown='ignore')

In [29]:
numerical_feat = x_train.select_dtypes(include = ['float', 'int']).columns
cat_feat = x_train.select_dtypes(include = 'object').columns

In [30]:
df.drop('Title', axis = 1, inplace = True)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Square              518 non-null    int64
 1   Price               518 non-null    int64
 2   Room                518 non-null    int64
 3   Floor               518 non-null    int64
 4   Building floor      518 non-null    int64
 5   Renovation          518 non-null    object
 6   Material            518 non-null    object
 7   Address             518 non-null    object
 8   Lift                518 non-null    int64
 9   Bathroom            518 non-null    int64
 10  Washing machine     518 non-null    int64
 11  TV                  518 non-null    int64
 12  Microwave oven      518 non-null    int64
 13  Playground          518 non-null    int64
 14  Furniture           518 non-null    int64
 15  Refrigerator        518 non-null    int64
 16  Air conditioner     518 non-null    int64
 17  Wifi                518 non-null    int64
 18  Cable               518 non-null    int64
 19  Security            518 non-null    int64
 20  Video surveillance  518 non-null    int64
 21  Parking space       518 non-null    int64
dtypes: int64(19), object(3)
memory usage: 89.2+ KB

In [32]:
num_transformer = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy = 'mean')),
        ('scaler', sc)
    ]
)

cat_transformer = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy = 'most_frequent')),
        ('scaler', oe)
    ]
)

In [33]:
preprocessor = ColumnTransformer(
    transformers = [
                    ('num', num_transformer, numerical_feat),
                     ('cat', cat_transformer, cat_feat)
    ]
)

In [34]:
x_train_preprocessed = preprocessor.fit_transform(x_train)
y_train_preprocessed = np.log1p(y_train)

In [35]:
x_test_preprocessed = preprocessor.transform(x_test)
y_test_preprocessed = np.log1p(y_test.values)

In [36]:
# # x_train bn x_test data frame edi bularni array qilish kerak asanyarray bilan
x_train_preprocessed = np.asanyarray(x_train_preprocessed)
x_test_preprocessed = np.asanyarray(x_test_preprocessed)

In [37]:
# x_train_tensor = torch.FloatTensor(x_train_preprocessed.toarray())
# x_test_tensor = torch.FloatTensor(x_test_preprocessed.toarray())
# y_train_tensor = torch.FloatTensor(y_train_preprocessed).reshape(-1, 1)
# y_test_tensor = torch.FloatTensor(y_test_preprocessed).reshape(-1,1)

In [38]:
# print("\n✅ Tensors created from PREPROCESSED data!")
# print(f"x_train_tensor: {x_train_tensor.shape}")
# print(f"x_test_tensor: {x_test_tensor.shape}")
# print(f"y_train_tensor: {y_train_tensor.shape}")
# print(f"y_test_tensor: {y_test_tensor.shape}")

In [39]:
import numpy as np
import torch
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

# 1. Identify column types
numerical_feat = x_train.select_dtypes(include=['float', 'int']).columns
cat_feat = x_train.select_dtypes(include='object').columns

print(f"Numerical features: {list(numerical_feat)}")
print(f"Categorical features: {list(cat_feat)}")

# 2. Create transformers
sc = StandardScaler()
oe = OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore')

num_transformer = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', sc)
    ]
)

cat_transformer = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('encoder', oe)  # ← Changed 'scaler' to 'encoder' (more clear)
    ]
)

# 3. Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', num_transformer, numerical_feat),
        ('cat', cat_transformer, cat_feat)
    ]
)

# 4. Fit and transform training data
x_train_preprocessed = preprocessor.fit_transform(x_train)  # ← Use fit_transform
y_train_preprocessed = np.log1p(y_train.values)  # ← Add .values for consistency

# 5. Transform test data (use transform, NOT fit_transform!)
x_test_preprocessed = preprocessor.transform(x_test)  # ← Only transform!
y_test_preprocessed = np.log1p(y_test.values)

# 6. Convert to PyTorch tensors (use PREPROCESSED data!)
x_train_tensor = torch.FloatTensor(x_train_preprocessed)  # ← Fixed!
x_test_tensor = torch.FloatTensor(x_test_preprocessed)    # ← Fixed!
y_train_tensor = torch.FloatTensor(y_train_preprocessed).reshape(-1, 1)
y_test_tensor = torch.FloatTensor(y_test_preprocessed).reshape(-1, 1)

print("\n✅ Tensors created from PREPROCESSED data!")
print(f"x_train_tensor: {x_train_tensor.shape}")
print(f"x_test_tensor: {x_test_tensor.shape}")
print(f"y_train_tensor: {y_train_tensor.shape}")
print(f"y_test_tensor: {y_test_tensor.shape}")

Numerical features: ['Square', 'Room', 'Floor', 'Building floor', 'Lift', 'Bathroom', 'Washing machine', 'TV', 'Microwave oven', 'Playground', 'Furniture', 'Refrigerator', 'Air conditioner', 'Wifi', 'Cable', 'Security', 'Video surveillance', 'Parking space']
Categorical features: ['Title', 'Renovation', 'Material', 'Address']

✅ Tensors created from PREPROCESSED data!
x_train_tensor: torch.Size([414, 446])
x_test_tensor: torch.Size([104, 446])
y_train_tensor: torch.Size([414, 1])
y_test_tensor: torch.Size([104, 1])

C:\Users\user\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:246: UserWarning: Found unknown categories in columns [3] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [40]:
class HomePrices(nn.Module):
    def __init__(self, input_size):
        super().__init__()
        self.layer1 = nn.Linear(input_size, 32)
        self.layer2 = nn.Linear(32, 16)
        self.layer3 = nn.Linear(16, 8)
        self.layer4 = nn.Linear(8, 4)
        self.layer5 = nn.Linear(4, 2)
        self.layer6 = nn.Linear(2, 1)
        self.dropout = nn.Dropout(0.2)

    def forward(self, x):
        x = torch.relu(self.layer1(x))
        x = self.dropout(x)
        x = torch.relu(self.layer2(x))
        x = self.dropout(x)
        x = torch.relu(self.layer3(x))
        x = self.dropout(x)
        x = torch.relu(self.layer4(x))
        x = self.dropout(x)
        x = torch.relu(self.layer5(x))
        x = self.dropout(x)
        x = self.layer6(x)

        return x

In [41]:
input_size = x_train_tensor.shape[1]
# print(input_size)
model = HomePrices(input_size)

In [42]:
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.0001)

In [43]:
num_epoch = 200
batch_size = 64
train_loss = []
test_losses = []

In [44]:
for i in range(num_epoch):
    model.train()
    epoch_loss = 0

    for j in range(0, len(x_train_tensor), batch_size):
        batch_x = x_train_tensor[j:j+batch_size]
        batch_y = y_train_tensor[j:j+batch_size]

        outputs = model(batch_x)
        loss = criterion(outputs, batch_y)

        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        epoch_loss += loss.item()

    avg_train_loss = epoch_loss / (len(x_train_tensor) / batch_size)

    with torch.no_grad():
        test_outputs = model(x_test_tensor)
        test_loss = criterion(test_outputs, y_test_tensor)
        test_losses.append(test_loss.item())

    if (i + 1) % 20 == 0:
        print(f"Epoch: {i+1}/{num_epoch} Train Loss: {avg_train_loss} Test Loss: {test_loss.item()}")

model.eval()
with torch.no_grad():
    train_outputs = model(x_train_tensor)
    train_loss = criterion(train_outputs, y_train_tensor)
    train_mse = mean_squared_error(y_train_tensor, train_outputs)
    rmse = np.sqrt(train_mse)

    test_outputs = model(x_test_tensor)
    test_loss = criterion(test_outputs, y_test_tensor)
    test_mse = mean_squared_error(y_test_tensor, test_outputs)
    test_rmse = np.sqrt(test_mse)

print("Training Loss: ", train_loss.item())
print("Training MSE: ", train_mse)
print("Training RMSE: ", rmse)
print("Test Loss: ", test_loss.item())
print("Test MSE: ", test_mse)
print("Test RMSE: ", test_rmse)

Epoch: 20/200 Train Loss: 143.8500599147041 Test Loss: 132.5581817626953
Epoch: 40/200 Train Loss: 143.45982176554952 Test Loss: 132.20315551757812
Epoch: 60/200 Train Loss: 143.10596646663646 Test Loss: 131.88760375976562
Epoch: 80/200 Train Loss: 142.75526966334542 Test Loss: 131.56309509277344
Epoch: 100/200 Train Loss: 142.4073303517512 Test Loss: 131.23910522460938
Epoch: 120/200 Train Loss: 142.06018361262076 Test Loss: 130.92044067382812
Epoch: 140/200 Train Loss: 141.71508199350845 Test Loss: 130.6024627685547
Epoch: 160/200 Train Loss: 141.36971146588164 Test Loss: 130.28382873535156
Epoch: 180/200 Train Loss: 141.0253788307669 Test Loss: 129.96580505371094
Epoch: 200/200 Train Loss: 140.68153211805554 Test Loss: 129.6487579345703
Training Loss:  130.13963317871094
Training MSE:  130.13962722241797
Training RMSE:  11.40787566650417
Test Loss:  129.6487579345703
Test MSE:  129.6487469964921
Test RMSE:  11.386340368902209